body {
    height: 100vh; /* Define a altura do corpo como 100% da altura da viewport */
    margin: 0;
    background-image: url(../imagens/fundo1.jpeg);
    background-size: cover; /* Faz a imagem cobrir completamente o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem no corpo */
    opacity: 0.5;
}


.menu{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 10;
    width: min-content;
}
.menu a {
    display: block;
    font-family: 'league gothic';
    font-size: 5vmin;
    text-decoration: none;
    text-transform: uppercase;
    color: white; /* Define a cor das letras como branca */
    padding: .5rem 0;
    transform: scale(.95);
   
    transition: scale 550ms linear, opacity 250ms linear;
}

.menu a:hover, .menu a:active {
    color: #f80909; /* Muda a cor das letras para vermelho quando o link é clicado ou quando o mouse está sobre ele */
}

.menu a:first-of-type{
    transform: scale(1);
    
}

.menu a:not(:hover){
    transform: scale(.95);
}

@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

 
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}


@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

 
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

 
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}

 